Repository Amrtamer711/ironforge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_security_dev, gitops_mr_assetmgmt_dev, gitops_mr_videocritique_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_security_staging, gitops_mr_assetmgmt_staging, gitops_mr_videocritique_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production, gitops_mr_security_production, gitops_mr_assetmgmt_production, gitops_mr_videocritique_production

gitops_mr_unifiedui_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_sales_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_security_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_assetmgmt_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_videocritique_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_unifiedui_staging:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: staging
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_sales_staging:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: staging
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_security_staging:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: staging
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_assetmgmt_staging:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: staging
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_videocritique_staging:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: staging
  before_script:
  - apk add --no-cache git
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

deploy(assetmgmt-staging): d68186ee
  src/platform/deploy/kustomize/asset-management/overlays/staging/kustomization.yaml
Due: none

Added Multi file upload to Mockup Generator Page.
  src/sales-module/api/routers/mockups.py
  src/unified-ui/frontend/src/screens/MockupPage.jsx
  src/unified-ui/frontend/src/screens/mockup/GenerateTab.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production

refactor(sales-module): use asset-management API for all location queries
  src/sales-module/api/routers/mockups.py
  src/sales-module/api/routers/proposals.py
  src/sales-module/handlers/tool_router.py
Due: gitops_mr_sales_dev, gitops_mr_sales_staging, gitops_mr_sales_production

fix(proposals): insert financial slide before outro + docs & scripts
  .gitignore
  docs/SUPABASE_MIGRATION_ISSUES.md
  scripts/sync-supabase.sh
  src/sales-module/core/proposals/processor.py
  src/unified-ui/public/assets/index-DTGhKASL.js
  src/unified-ui/public/assets/index-DWvEl5J1.js
  src/unified-ui/public/index.html
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production

Filters now diplay available values only, Removed Metadata of Templates, Chatpage Location Dispaly names.
  src/sales-module/core/mockups/handler.py
  src/sales-module/handlers/tool_router.py
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/screens/MockupPage.jsx
  src/unified-ui/frontend/src/screens/mockup/GenerateTab.jsx
  src/unified-ui/public/assets/index-C-K8vA1j.js
  src/unified-ui/public/assets/index-DWvEl5J1.js
  src/unified-ui/public/index.html
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production

Show Mockup Setup only for Admins
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/screens/MockupPage.jsx
  src/unified-ui/frontend/src/shell/AppShell.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_unifiedui_staging, gitops_mr_unifiedui_production

Updated For Amr
  src/unified-ui/comms/FOR_AMR.md
Due: gitops_mr_unifiedui_dev, gitops_mr_unifiedui_staging, gitops_mr_unifiedui_production

Increased Timeout to 2 minutes, Updated For Amr
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/api/http.js
Due: gitops_mr_unifiedui_dev, gitops_mr_unifiedui_staging, gitops_mr_unifiedui_production

feat(proposals): add package expansion support + display name fixes
  src/asset-management/api/routers/internal.py
  src/asset-management/core/packages.py
  src/asset-management/db/backends/supabase.py
  src/sales-module/api/routers/proposals.py
  src/sales-module/core/proposals/__init__.py
  src/sales-module/core/proposals/processor.py
  src/sales-module/core/proposals/validator.py
  src/sales-module/core/services/mockup_service/package_expander.py
  src/sales-module/db/backends/sqlite.py
  src/sales-module/db/backends/supabase.py
  src/sales-module/db/base.py
  src/sales-module/db/database.py
  src/sales-module/generators/pptx.py
  src/sales-module/handlers/tool_router.py
  src/sales-module/integrations/asset_management.py
  src/sales-module/integrations/llm/prompts/chat.py
Due: gitops_mr_sales_dev, gitops_mr_assetmgmt_dev, gitops_mr_sales_staging, gitops_mr_assetmgmt_staging, gitops_mr_sales_production, gitops_mr_assetmgmt_production

Chat Streaming In ChatPage
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/screens/ChatPage.jsx
  src/unified-ui/frontend/src/screens/MockupPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_unifiedui_staging, gitops_mr_unifiedui_production

fix(proposals): improve error persistence, display names, and package validation
  src/sales-module/core/proposals/processor.py
  src/sales-module/core/proposals/validator.py
  src/sales-module/handlers/tool_router.py
  src/sales-module/integrations/llm/prompts/chat.py
Due: gitops_mr_sales_dev, gitops_mr_sales_staging, gitops_mr_sales_production

fix(render): use render-specific Dockerfile for sales-module
  render.yaml
Due: none

fix(render): use render-specific Dockerfiles for all services
  render.yaml
Due: none

feat(asset-management): add cache invalidation endpoint
  src/asset-management/api/routers/internal.py
  src/asset-management/db/backends/supabase.py
  src/sales-module/integrations/asset_management.py
Due: gitops_mr_sales_dev, gitops_mr_assetmgmt_dev, gitops_mr_sales_staging, gitops_mr_assetmgmt_staging, gitops_mr_sales_production, gitops_mr_assetmgmt_production

fix(proposals): use network_name instead of display_name
  src/sales-module/core/proposals/validator.py
Due: gitops_mr_sales_dev, gitops_mr_sales_staging, gitops_mr_sales_production

fix(proposals): use display_name instead of location.title() for location names
  src/sales-module/core/proposals/processor.py
Due: gitops_mr_sales_dev, gitops_mr_sales_staging, gitops_mr_sales_production

chore(prompts): remove obsolete mockup setup website URL
  src/sales-module/integrations/llm/prompts/chat.py
Due: gitops_mr_sales_dev, gitops_mr_sales_staging, gitops_mr_sales_production

Location Display name in errors, Fixed Companies View and User Companies
  src/sales-module/handlers/tool_router.py
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/api/chat.js
  src/unified-ui/frontend/src/components/ui/select-dropdown.jsx
  src/unified-ui/frontend/src/lib/utils.js
  src/unified-ui/frontend/src/screens/AdminPage.jsx
  src/unified-ui/frontend/src/screens/ChatPage.jsx
  src/unified-ui/frontend/src/screens/admin/CompaniesTab.jsx
  src/unified-ui/frontend/src/screens/admin/ProfilesTab.jsx
  src/unified-ui/frontend/src/screens/admin/UsersTab.jsx
  src/unified-ui/frontend/src/shell/AppShell.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production

refactor(mockup): improve setup UX and remove legacy admin tools
  src/asset-management/api/routers/asset_types.py
  src/asset-management/core/asset_types.py
  src/asset-management/db/backends/sqlite.py
  src/asset-management/db/backends/supabase.py
  src/asset-management/db/base.py
  src/asset-management/db/database.py
  src/sales-module/api/routers/health.py
  src/sales-module/api/routers/mockups.py
  src/sales-module/api/server.py
  src/sales-module/core/llm.py
  src/sales-module/core/services/mockup_frame_service.py
  src/sales-module/core/tools.py
  src/sales-module/db/cache.py
  src/sales-module/handlers/tool_router.py
  src/sales-module/integrations/asset_management.py
  src/unified-ui/frontend/src/api/mockup.js
  src/unified-ui/frontend/src/screens/MockupPage.jsx
  src/unified-ui/frontend/src/screens/mockup/SetupTab.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_assetmgmt_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_assetmgmt_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production, gitops_mr_assetmgmt_production

Path conditions:
  gitops_mr_unifiedui_dev: any of: src/unified-ui/**/*
  gitops_mr_sales_dev: any of: src/sales-module/**/*, src/shared/**/*
  gitops_mr_security_dev: any of: src/security-service/**/*, src/shared/**/*
  gitops_mr_assetmgmt_dev: any of: src/asset-management/**/*, src/shared/**/*
  gitops_mr_videocritique_dev: any of: src/video-critique/**/*, src/shared/**/*
  gitops_mr_unifiedui_staging: any of: src/unified-ui/**/*
  gitops_mr_sales_staging: any of: src/sales-module/**/*, src/shared/**/*
  gitops_mr_security_staging: any of: src/security-service/**/*, src/shared/**/*
  gitops_mr_assetmgmt_staging: any of: src/asset-management/**/*, src/shared/**/*
  gitops_mr_videocritique_staging: any of: src/video-critique/**/*, src/shared/**/*
  gitops_mr_unifiedui_production: any of: src/unified-ui/**/*
  gitops_mr_sales_production: any of: src/sales-module/**/*, src/shared/**/*
  gitops_mr_security_production: any of: src/security-service/**/*, src/shared/**/*
  gitops_mr_assetmgmt_production: any of: src/asset-management/**/*, src/shared/**/*
  gitops_mr_videocritique_production: any of: src/video-critique/**/*, src/shared/**/*
