Repository Amrtamer711/ironforge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

gitops_mr_unifiedui_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git curl jq
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_sales_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git curl jq
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

deploy(unifiedui-dev): d1662e45
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
Due: none

feat(rbac): consolidate admin endpoints and add permission-based access control
  src/unified-ui-react/src/api/admin.js
  src/unified-ui/backend/middleware/auth.py
  src/unified-ui/backend/routers/rbac/__init__.py
  src/unified-ui/backend/routers/rbac/companies.py
  src/unified-ui/backend/routers/rbac/models.py
  src/unified-ui/backend/routers/rbac/permission_sets.py
  src/unified-ui/backend/routers/rbac/profiles.py
  src/unified-ui/backend/routers/rbac/sharing.py
  src/unified-ui/backend/routers/rbac/teams.py
  src/unified-ui/backend/routers/rbac/users.py
  src/unified-ui/frontend/src/api/admin.js
Due: gitops_mr_unifiedui_dev

fix(rbac): use existing core:system:admin permission instead of made-up admin:rbac:manage
  src/unified-ui/backend/routers/rbac/companies.py
  src/unified-ui/backend/routers/rbac/permission_sets.py
  src/unified-ui/backend/routers/rbac/profiles.py
  src/unified-ui/backend/routers/rbac/sharing.py
  src/unified-ui/backend/routers/rbac/teams.py
  src/unified-ui/backend/routers/rbac/users.py
Due: gitops_mr_unifiedui_dev

chore: update frontend build artifacts
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/public/assets/index-B9_a9ct1.js
  src/unified-ui/public/assets/index-BCZZ-Jiv.css
  src/unified-ui/public/assets/index-BODEuwAx.js
  src/unified-ui/public/assets/index-BnFQd69E.js
  src/unified-ui/public/assets/index-CYrFy0wd.css
  src/unified-ui/public/assets/index-DUtuarQO.js
  src/unified-ui/public/assets/index-udhw_AT5.css
  src/unified-ui/public/dev-panel.html
  src/unified-ui/public/index.html
  src/unified-ui/public/logs-panel.html
  src/unified-ui/public/sw.js
Due: gitops_mr_unifiedui_dev

fix: restore logs-panel.html and dev-panel.html
  src/unified-ui/public/dev-panel.html
  src/unified-ui/public/logs-panel.html
Due: gitops_mr_unifiedui_dev

fix: move dev/logs panel HTML to frontend public folder
  src/unified-ui/frontend/public/dev-panel.html
  src/unified-ui/frontend/public/logs-panel.html
  src/unified-ui/public/sw.js
Due: gitops_mr_unifiedui_dev

fix(backend): add missing BaseModel import to profiles.py
  src/unified-ui/backend/routers/rbac/profiles.py
Due: gitops_mr_unifiedui_dev

feat(chat): add is_tool_response flag to hide tool messages from permanent chat
  src/sales-module/handlers/tool_router.py
  src/sales-module/integrations/channels/adapters/web.py
  src/shared/crm-channels/crm_channels/base.py
  src/video-critique/integrations/channels/adapters/slack.py
  src/video-critique/integrations/channels/adapters/web.py
Due: gitops_mr_sales_dev

Increased base capacity for sales bot
  src/platform/deploy/kustomize/sales-module/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

sales-dev: increase proposal-bot min replicas + probe tolerances
  src/platform/deploy/kustomize/sales-module/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

fix(chat): tool message filtering and file header display
  src/sales-module/config.py
  src/sales-module/core/llm.py
  src/sales-module/core/proposals/validator.py
  src/sales-module/generators/pptx.py
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
  src/unified-ui/frontend/vite.config.js
  src/unified-ui/public/assets/index-BODEuwAx.js
  src/unified-ui/public/assets/index-BtaFDDFm.js
  src/unified-ui/public/index.html
  src/unified-ui/public/sw.js
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

Update sales module and unified UI improvements
  src/sales-module/api/routers/chat.py
  src/sales-module/api/routers/files.py
  src/sales-module/core/proposals/intro_outro.py
  src/sales-module/handlers/tool_router.py
  src/unified-ui/frontend/src/api/admin.js
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

fix: platform robustness improvements for timeout and request lifecycle
  src/sales-module/core/chat_api.py
  src/sales-module/integrations/channels/adapters/web.py
  src/unified-ui/backend/main.py
  src/unified-ui/backend/middleware/auth.py
  src/unified-ui/backend/routers/proxy.py
  src/unified-ui/frontend/src/api/http.js
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

Building proposals text, Static Size for Attachment bubbles
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/public/assets/index-6tUDyNjo.css
  src/unified-ui/public/assets/index-B9fN2LXe.js
  src/unified-ui/public/assets/index-BCZZ-Jiv.css
  src/unified-ui/public/assets/index-BtaFDDFm.js
  src/unified-ui/public/index.html
  src/unified-ui/public/sw.js
Due: gitops_mr_unifiedui_dev

Chat Bubble filename
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
  src/unified-ui/frontend/src/styles/globals.css
Due: gitops_mr_unifiedui_dev

feat(admin): add service visibility toggles with optimistic updates
  src/sales-module/api/routers/chat.py
  src/sales-module/core/chat_api.py
  src/unified-ui/backend/middleware/auth.py
  src/unified-ui/backend/routers/admin.py
  src/unified-ui/frontend/src/api/admin.js
  src/unified-ui/frontend/src/api/chat.js
  src/unified-ui/frontend/src/screens/tools/AdminPage.jsx
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/frontend/src/shell/AppShell.jsx
  src/unified-ui/frontend/src/styles/globals.css
  src/unified-ui/public/assets/index-BCZZ-Jiv.css
  src/unified-ui/public/assets/index-BtaFDDFm.js
  src/unified-ui/public/assets/index-DOWzQSDN.css
  src/unified-ui/public/assets/index-DhpEaSVW.js
  src/unified-ui/public/index.html
  src/unified-ui/public/sw.js
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

feat(admin): add dev mode bypass and loading screen for service visibility
  run_all_services.py
  src/unified-ui/backend/routers/admin.py
  src/unified-ui/frontend/src/screens/tools/AdminPage.jsx
  src/unified-ui/frontend/src/shell/AppShell.jsx
  src/unified-ui/public/assets/index-D00X2jlQ.css
  src/unified-ui/public/assets/index-D18_7x3u.js
  src/unified-ui/public/assets/index-DOWzQSDN.css
  src/unified-ui/public/assets/index-DhpEaSVW.js
  src/unified-ui/public/index.html
  src/unified-ui/public/sw.js
Due: gitops_mr_unifiedui_dev

fix(chat): wait for auth before rendering routes
  src/unified-ui/frontend/src/shell/AppShell.jsx
Due: gitops_mr_unifiedui_dev

fix(deps): add missing cachetools to render requirements
  src/sales-module/requirements.render.txt
Due: gitops_mr_sales_dev

fix: add proper cache headers to prevent stale deployments
  src/unified-ui/backend/main.py
Due: gitops_mr_unifiedui_dev

fix: improve sales module logging and error handling
  src/sales-module/core/chat_api.py
  src/sales-module/core/utils/logging.py
Due: gitops_mr_sales_dev

fix: add missing os import in logging.py
  src/sales-module/core/utils/logging.py
Due: gitops_mr_sales_dev

sidebar css
  src/unified-ui/frontend/src/styles/globals.css
Due: gitops_mr_unifiedui_dev

fix(chat): use execute() instead of single() for session queries
  src/sales-module/db/backends/supabase.py
Due: gitops_mr_sales_dev

fix(chat): increase attachment refresh limits to support large histories
  src/sales-module/api/routers/chat.py
Due: gitops_mr_sales_dev

debug: add detailed logging to trace proposal upload hang
  src/sales-module/handlers/tool_router.py
  src/sales-module/integrations/channels/adapters/web.py
Due: gitops_mr_sales_dev

fix: disable PPTX uploads to prevent timeout on large files
  src/sales-module/handlers/tool_router.py
Due: gitops_mr_sales_dev

feat(sales): add comprehensive timing logs for proposal performance analysis
  src/sales-module/core/proposals/processor.py
  src/sales-module/generators/pdf.py
Due: gitops_mr_sales_dev

Removed PWA
  src/unified-ui/frontend/index.html
  src/unified-ui/frontend/src/main.jsx
  src/unified-ui/frontend/src/screens/tools/AdminPage.jsx
  src/unified-ui/frontend/src/screens/tools/AssetManagementPage.jsx
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/frontend/src/screens/tools/ProposalsPage.jsx
  src/unified-ui/frontend/src/screens/tools/video-critique/VideoCritiqueAssistantPage.jsx
  src/unified-ui/frontend/src/styles/globals.css
  src/unified-ui/frontend/vite.config.js
  src/unified-ui/public/index.html
  src/unified-ui/public/manifest.webmanifest
  src/unified-ui/public/sw.js
  src/unified-ui/public/workbox-b51dd497.js
Due: gitops_mr_unifiedui_dev

Unify Initial Loading animation
  src/unified-ui/frontend/src/screens/ChatPage.jsx
  src/unified-ui/frontend/src/shell/AppShell.jsx
  src/unified-ui/public/assets/index-D4EhdhRD.js
  src/unified-ui/public/index.html
Due: gitops_mr_unifiedui_dev

deploy(videocritique-dev): 3cf49100
  src/platform/deploy/kustomize/video-critique/overlays/dev/kustomization.yaml
Due: none

deploy(unifiedui-dev): 3cf49100
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
Due: none

deploy(security-dev): 3cf49100
  src/platform/deploy/kustomize/security-service/overlays/dev/kustomization.yaml
Due: none

deploy(assetmgmt-dev): 3cf49100
  src/platform/deploy/kustomize/asset-management/overlays/dev/kustomization.yaml
Due: none

deploy(sales-dev): 3cf49100
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

Fix scroll to bottom in chat page, Mobile Login Page, Mockup Page instructions
  src/unified-ui/frontend/src/screens/ChatPage.jsx
  src/unified-ui/frontend/src/screens/LoginPage.jsx
  src/unified-ui/frontend/src/screens/MockupPage.jsx
  src/unified-ui/public/assets/index-BAdcpIRv.css
  src/unified-ui/public/assets/index-BJtq2QUB.css
  src/unified-ui/public/assets/index-D4EhdhRD.js
  src/unified-ui/public/assets/index-UXLCpFVW.js
  src/unified-ui/public/index.html
Due: gitops_mr_unifiedui_dev

infra: add staging and production cluster stacks
  Makefile
  src/infrastructure/aws/clusters/README.md
  src/infrastructure/aws/clusters/production/main.tf
  src/infrastructure/aws/clusters/production/outputs.tf
  src/infrastructure/aws/clusters/production/variables.tf
  src/infrastructure/aws/clusters/staging/main.tf
  src/infrastructure/aws/clusters/staging/outputs.tf
  src/infrastructure/aws/clusters/staging/variables.tf
  src/infrastructure/aws/modules/cluster_stack/main.tf
  src/infrastructure/aws/modules/cluster_stack/outputs.tf
  src/infrastructure/aws/modules/cluster_stack/variables.tf
Due: none

platform: add staging/prod overlays and Argo CD app sets
  src/platform/ArgoCD/applications-production/assetmgmt-production.yaml
  src/platform/ArgoCD/applications-production/aws-load-balancer-controller.yaml
  src/platform/ArgoCD/applications-production/cluster-autoscaler-production.yaml
  src/platform/ArgoCD/applications-production/kustomization.yaml
  src/platform/ArgoCD/applications-production/sales-production.yaml
  src/platform/ArgoCD/applications-production/security-production.yaml
  src/platform/ArgoCD/applications-production/unifiedui-production.yaml
  src/platform/ArgoCD/applications-production/videocritique-production.yaml
  src/platform/ArgoCD/applications-staging/assetmgmt-staging.yaml
  src/platform/ArgoCD/applications-staging/aws-load-balancer-controller.yaml
  src/platform/ArgoCD/applications-staging/cluster-autoscaler-staging.yaml
  src/platform/ArgoCD/applications-staging/kustomization.yaml
  src/platform/ArgoCD/applications-staging/sales-staging.yaml
  src/platform/ArgoCD/applications-staging/security-staging.yaml
  src/platform/ArgoCD/applications-staging/unifiedui-staging.yaml
  src/platform/ArgoCD/applications-staging/videocritique-staging.yaml
  src/platform/deploy/kustomize/asset-management/overlays/production/hpa.yaml
  src/platform/deploy/kustomize/asset-management/overlays/production/kustomization.yaml
  src/platform/deploy/kustomize/asset-management/overlays/staging/hpa.yaml
  src/platform/deploy/kustomize/asset-management/overlays/staging/kustomization.yaml
  src/platform/deploy/kustomize/cluster-autoscaler/overlays/production/kustomization.yaml
  src/platform/deploy/kustomize/cluster-autoscaler/overlays/staging/kustomization.yaml
  src/platform/deploy/kustomize/sales-module/overlays/production/hpa.yaml
  src/platform/deploy/kustomize/sales-module/overlays/production/kustomization.yaml
  src/platform/deploy/kustomize/sales-module/overlays/staging/hpa.yaml
  src/platform/deploy/kustomize/sales-module/overlays/staging/kustomization.yaml
  src/platform/deploy/kustomize/security-service/overlays/production/hpa.yaml
  src/platform/deploy/kustomize/security-service/overlays/production/kustomization.yaml
  src/platform/deploy/kustomize/security-service/overlays/staging/hpa.yaml
  src/platform/deploy/kustomize/security-service/overlays/staging/kustomization.yaml
  src/platform/deploy/kustomize/unifiedui/overlays/production/hpa.yaml
  src/platform/deploy/kustomize/unifiedui/overlays/production/kustomization.yaml
  src/platform/deploy/kustomize/unifiedui/overlays/staging/hpa.yaml
  src/platform/deploy/kustomize/unifiedui/overlays/staging/kustomization.yaml
  src/platform/deploy/kustomize/video-critique/overlays/production/hpa.yaml
  src/platform/deploy/kustomize/video-critique/overlays/production/kustomization.yaml
  src/platform/deploy/kustomize/video-critique/overlays/staging/hpa.yaml
  src/platform/deploy/kustomize/video-critique/overlays/staging/kustomization.yaml
Due: none

ci: build on staging/main and open env GitOps MRs
  .gitlab-ci.yml
  src/asset-management/ci-cd.yml
  src/sales-module/ci-cd.yml
  src/security-service/ci-cd.yml
  src/unified-ui/ci-cd.yml
  src/video-critique/ci-cd.yml
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

Path conditions:
  gitops_mr_unifiedui_dev: any of: src/unified-ui/**/*
  gitops_mr_sales_dev: any of: src/sales-module/**/*, src/shared/**/*
