Repository Amrtamer711/ironforge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

gitops_mr_unifiedui_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git curl jq
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_sales_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git curl jq
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

Touched initdeploy to trigger pipeline
  src/asset-management/initdeploy.txt
Due: none

deploy(assetmgmt-dev): 1d38e359
  src/platform/deploy/kustomize/asset-management/overlays/dev/kustomization.yaml
Due: none

platform: fix security-service envFrom patch
  src/platform/deploy/kustomize/security-service/overlays/dev/kustomization.yaml
Due: none

platform: apply ArgoCD apps + assetmgmt env helper
  Makefile
  src/platform/ArgoCD/applications/kustomization.yaml
  src/platform/ArgoCD/bootstrap/README.md
  src/platform/deploy/kustomize/asset-management/README.md
Due: none

platform: replace security env to avoid valueFrom conflicts
  src/platform/deploy/kustomize/security-service/overlays/dev/kustomization.yaml
Due: none

platform: force Replace sync for security-service
  src/platform/deploy/kustomize/security-service/overlays/dev/kustomization.yaml
Due: none

deploy(unifiedui-dev): 87e0c4c7
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
Due: none

deploy(sales-dev): 87e0c4c7
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

Fixed scroll elements
  src/unified-ui/frontend/src/screens/tools/asset-management/LocationsTab.jsx
Due: gitops_mr_unifiedui_dev

Updated with url to asset management
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

deploy(unifiedui-dev): f6bbc468
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
Due: none

Updated video critique engine and k8s files for devops integration and kubernetes deployment
  .gitlab-ci.yml
  Makefile
  src/infrastructure/aws/main.tf
  src/platform/ArgoCD/applications/kustomization.yaml
  src/platform/ArgoCD/applications/videocritique-dev.yaml
  src/platform/deploy/kustomize/video-critique/README.md
  src/platform/deploy/kustomize/video-critique/base/deployment.yaml
  src/platform/deploy/kustomize/video-critique/base/kustomization.yaml
  src/platform/deploy/kustomize/video-critique/base/service.yaml
  src/platform/deploy/kustomize/video-critique/overlays/dev/kustomization.yaml
  src/video-critique/ci-cd.yml
Due: none

deploy(videocritique-dev): 8294a65c
  src/platform/deploy/kustomize/video-critique/overlays/dev/kustomization.yaml
Due: none

Added PWA, Role Requirements, Reduced Multiselect Sizing
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/dev-dist/sw.js
  src/unified-ui/frontend/dev-dist/workbox-5a5d9309.js
  src/unified-ui/frontend/index.html
  src/unified-ui/frontend/package-lock.json
  src/unified-ui/frontend/package.json
  src/unified-ui/frontend/public/MMG_Logo.png
  src/unified-ui/frontend/public/MMG_Logo_Blk.png
  src/unified-ui/frontend/public/apple-touch-icon.png
  src/unified-ui/frontend/public/pwa-192x192.png
  src/unified-ui/frontend/public/pwa-512x512-maskable.png
  src/unified-ui/frontend/public/pwa-512x512.png
  src/unified-ui/frontend/src/main.jsx
  src/unified-ui/frontend/src/screens/tools/admin/PermissionSetsTab.jsx
  src/unified-ui/frontend/src/screens/tools/admin/ProfilesTab.jsx
  src/unified-ui/frontend/src/screens/tools/admin/UsersTab.jsx
  src/unified-ui/frontend/vite.config.js
Due: gitops_mr_unifiedui_dev

Small change to trigger the deployment
  src/video-critique/touchinit.txt
Due: none

Small fix for video critique
  Makefile
Due: none

deploy(videocritique-dev): 6b0733f5
  src/platform/deploy/kustomize/video-critique/overlays/dev/kustomization.yaml
Due: none

perf: deep performance audit - parallel execution, O(1) lookups, company hints
  src/asset-management/api/routers/internal.py
  src/asset-management/api/routers/mockup_frames.py
  src/asset-management/api/routers/storage.py
  src/asset-management/db/backends/sqlite.py
  src/asset-management/db/backends/supabase.py
  src/asset-management/db/base.py
  src/asset-management/db/database.py
  src/sales-module/api/routers/mockups.py
  src/sales-module/api/routers/proposals.py
  src/sales-module/core/proposals/intro_outro.py
  src/sales-module/core/services/mockup_eligibility/base.py
  src/sales-module/core/services/mockup_eligibility/generate_form.py
  src/sales-module/core/services/mockup_frame_service.py
  src/sales-module/core/services/mockup_service/response_builder.py
  src/sales-module/db/cache.py
  src/sales-module/integrations/asset_management.py
  src/sales-module/integrations/channel_identity.py
  src/sales-module/integrations/channels/adapters/slack.py
  src/sales-module/integrations/storage/client.py
  src/unified-ui/frontend/src/api/mockup.js
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/public/assets/index-B9_a9ct1.js
  src/unified-ui/public/assets/index-BnFQd69E.js
  src/unified-ui/public/assets/index-DKSy_5Io.js
  src/unified-ui/public/assets/index-MN_BtN0Q.css
  src/unified-ui/public/assets/index-udhw_AT5.css
  src/unified-ui/public/favicon-32x32.png
  src/unified-ui/public/index.html
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

Added gitlab-repo creds to gitignore
  .gitignore
  src/unified-ui/supabase.env
Due: gitops_mr_unifiedui_dev

deploy(unifiedui-dev): 3c9fcc07
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
Due: none

deploy(sales-dev): 3c9fcc07
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

deploy(assetmgmt-dev): 3c9fcc07
  src/platform/deploy/kustomize/asset-management/overlays/dev/kustomization.yaml
Due: none

feat: add multi-location setup and venue_type to save-frame endpoint
  src/sales-module/api/routers/mockups.py
  src/sales-module/tests/test_mockups.py
  src/unified-ui-react/src/screens/tools/MockupPage.jsx
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

Switched to managed EC2 nodes
  src/infrastructure/aws/main.tf
  src/infrastructure/aws/modules/eks_fargate/main.tf
  src/infrastructure/aws/modules/eks_fargate/variables.tf
  src/infrastructure/aws/modules/eks_managed_nodes/main.tf
  src/infrastructure/aws/modules/eks_managed_nodes/outputs.tf
  src/infrastructure/aws/modules/eks_managed_nodes/variables.tf
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

feat: add /api/companies endpoint in asset-management
  src/asset-management/api/routers/health.py
  src/asset-management/db/backends/sqlite.py
  src/asset-management/db/backends/supabase.py
  src/asset-management/db/base.py
  src/asset-management/db/database.py
  src/unified-ui/backend/routers/dev_panel.py
Due: gitops_mr_unifiedui_dev

feat: add hierarchical company access with expand_companies
  src/asset-management/api/routers/health.py
  src/asset-management/db/backends/sqlite.py
  src/asset-management/db/backends/supabase.py
  src/asset-management/db/base.py
  src/asset-management/db/database.py
Due: none

feat: auto-expand company access based on hierarchy in auth middleware
  src/unified-ui/backend/middleware/auth.py
Due: gitops_mr_unifiedui_dev

New config regarding scaling and replica
  src/infrastructure/aws/main.tf
  src/platform/deploy/kustomize/asset-management/base/deployment.yaml
  src/platform/deploy/kustomize/sales-module/base/deployment.yaml
  src/platform/deploy/kustomize/security-service/base/deployment.yaml
  src/platform/deploy/kustomize/unifiedui/base/deployment.yaml
Due: none

Added Horizontal Pod Autoscaling Feature
  src/platform/deploy/kustomize/asset-management/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/asset-management/overlays/dev/kustomization.yaml
  src/platform/deploy/kustomize/sales-module/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
  src/platform/deploy/kustomize/security-service/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/security-service/overlays/dev/kustomization.yaml
  src/platform/deploy/kustomize/unifiedui/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
  src/platform/deploy/kustomize/video-critique/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/video-critique/overlays/dev/kustomization.yaml
Due: none

fix: remove stale backlite_ksa references from codebase
  src/asset-management/api/routers/health.py
  src/asset-management/db/backends/sqlite.py
  src/sales-module/core/services/mockup_frame_service.py
  src/sales-module/core/services/template_service.py
  src/sales-module/core/tools.py
  src/unified-ui/backend/middleware/auth.py
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

Made argocd stop fighting HPA replicas
  src/platform/ArgoCD/applications/assetmgmt-dev.yaml
  src/platform/ArgoCD/applications/sales-dev.yaml
  src/platform/ArgoCD/applications/security-dev.yaml
  src/platform/ArgoCD/applications/unifiedui-dev.yaml
  src/platform/ArgoCD/applications/videocritique-dev.yaml
  src/platform/deploy/kustomize/asset-management/base/deployment.yaml
  src/platform/deploy/kustomize/sales-module/base/deployment.yaml
  src/platform/deploy/kustomize/security-service/base/deployment.yaml
Due: none

deploy(unifiedui-dev): 5ba1f35b
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
Due: none

deploy(assetmgmt-dev): 5ba1f35b
  src/platform/deploy/kustomize/asset-management/overlays/dev/kustomization.yaml
Due: none

deploy(sales-dev): 5ba1f35b
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

platform: min=1 HPAs + cluster autoscaler + lower node mins
  src/infrastructure/aws/main.tf
  src/infrastructure/aws/modules/eks_managed_nodes/main.tf
  src/platform/ArgoCD/applications/cluster-autoscaler-dev.yaml
  src/platform/ArgoCD/applications/kustomization.yaml
  src/platform/deploy/kustomize/asset-management/base/deployment.yaml
  src/platform/deploy/kustomize/asset-management/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/cluster-autoscaler/base/deployment.yaml
  src/platform/deploy/kustomize/cluster-autoscaler/base/kustomization.yaml
  src/platform/deploy/kustomize/cluster-autoscaler/base/rbac.yaml
  src/platform/deploy/kustomize/cluster-autoscaler/base/serviceaccount.yaml
  src/platform/deploy/kustomize/cluster-autoscaler/overlays/dev/kustomization.yaml
  src/platform/deploy/kustomize/sales-module/base/deployment.yaml
  src/platform/deploy/kustomize/sales-module/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/security-service/base/deployment.yaml
  src/platform/deploy/kustomize/security-service/overlays/dev/hpa.yaml
  src/platform/deploy/kustomize/unifiedui/base/deployment.yaml
  src/platform/deploy/kustomize/unifiedui/overlays/dev/hpa.yaml
Due: none

platform: fix unifiedui app YAML and autoscaler args
  src/platform/ArgoCD/applications/unifiedui-dev.yaml
  src/platform/deploy/kustomize/cluster-autoscaler/base/deployment.yaml
Due: none

feat: migrate mockup storage from asset-level to type-level
  src/asset-management/api/routers/internal.py
  src/asset-management/db/backends/sqlite.py
  src/asset-management/db/backends/supabase.py
  src/asset-management/db/database.py
  src/sales-module/api/routers/mockups.py
  src/sales-module/core/services/mockup_frame_service.py
  src/sales-module/integrations/asset_management.py
  src/unified-ui-react/src/api/mockup.js
  src/unified-ui-react/src/screens/tools/MockupPage.jsx
  src/unified-ui-react/src/screens/tools/mockup/GenerateTab.jsx
  src/unified-ui-react/src/screens/tools/mockup/SetupTab.jsx
Due: gitops_mr_sales_dev

chore: add Excel files to gitignore
  .gitignore
Due: none

platform: allow cluster-autoscaler to schedule on tainted nodes
  src/infrastructure/aws/main.tf
  src/platform/deploy/kustomize/cluster-autoscaler/base/deployment.yaml
  src/platform/deploy/kustomize/cluster-autoscaler/base/serviceaccount.yaml
Due: none

infra: default EKS to managed nodes
  src/infrastructure/aws/local.auto.tfvars.example
  src/infrastructure/aws/main.tf
Due: none

Path conditions:
  gitops_mr_unifiedui_dev: any of: src/unified-ui/**/*
  gitops_mr_sales_dev: any of: src/sales-module/**/*, src/shared/**/*
