Repository Amrtamer711/ironforge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

gitops_mr_unifiedui_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git curl jq
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

gitops_mr_sales_dev:
  stage: gitops
  image: alpine:3.20
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: '0'
    GITOPS_BASE_BRANCH: demo
  before_script:
  - apk add --no-cache git curl jq
  - git config user.email "ci-bot@mmg.global"
  - git config user.name "mmg-ci-bot"
  script:
  ...

feat: add smart config filtering and efficiency optimization for mockups
  src/sales-module/api/routers/mockups.py
  src/sales-module/core/services/mockup_eligibility/generate_form.py
  src/unified-ui-react/src/api/mockup.js
  src/unified-ui-react/src/screens/tools/MockupPage.jsx
Due: gitops_mr_sales_dev

Added Asset Type to Setup tab, Assets proxy endpoints.
  src/unified-ui/frontend/dev-dist/suppress-warnings.js
  src/unified-ui/frontend/dev-dist/sw.js
  src/unified-ui/frontend/src/api/asset-management.js
  src/unified-ui/frontend/src/api/index.js
  src/unified-ui/frontend/src/api/mockup.js
  src/unified-ui/frontend/src/screens/tools/AssetManagementPage.jsx
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/frontend/src/screens/tools/asset-management/AssetTypesTab.jsx
  src/unified-ui/frontend/src/screens/tools/asset-management/CompaniesTab.jsx
  src/unified-ui/frontend/src/screens/tools/asset-management/NetworkAssetsTab.jsx
  src/unified-ui/frontend/src/screens/tools/asset-management/NetworksTab.jsx
  src/unified-ui/frontend/src/screens/tools/asset-management/PackagesTab.jsx
  src/unified-ui/frontend/src/screens/tools/asset-management/SimpleTableTab.jsx
  src/unified-ui/frontend/src/screens/tools/mockup/SetupTab.jsx
Due: gitops_mr_unifiedui_dev

refactor: unify ASSET_MGMT_URL to ASSET_MANAGEMENT_URL
  src/unified-ui/backend/config.py
  src/unified-ui/backend/middleware/auth.py
  src/unified-ui/backend/routers/dev_panel.py
  src/unified-ui/backend/routers/proxy.py
  src/unified-ui/render.yaml
  src/unified-ui/supabase.env
Due: gitops_mr_unifiedui_dev

chore: add .mcp.json to gitignore
  .gitignore
Due: none

platform: lower default resource requests
  src/platform/deploy/kustomize/asset-management/base/deployment.yaml
  src/platform/deploy/kustomize/security-service/base/deployment.yaml
  src/platform/deploy/kustomize/unifiedui/base/deployment.yaml
  src/platform/deploy/kustomize/video-critique/base/deployment.yaml
Due: none

infra: bump nodegroup instance types
  src/infrastructure/aws/main.tf
  src/infrastructure/aws/modules/eks_managed_nodes/variables.tf
Due: none

deploy(unifiedui-dev): 327d6049
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
Due: none

deploy(assetmgmt-dev): 327d6049
  src/platform/deploy/kustomize/asset-management/overlays/dev/kustomization.yaml
Due: none

deploy(sales-dev): 327d6049
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

fix: handle null number_of_faces and network_key mapping
  src/asset-management/core/locations.py
  src/asset-management/core/packages.py
  src/asset-management/db/scripts/generate_asset_report.py
  src/asset-management/db/scripts/migrate_network_data.py
Due: none

fix: correct argument order in save_location_photo call
  src/sales-module/api/routers/mockups.py
Due: gitops_mr_sales_dev

Updated For Amr
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/dev-dist/sw.js
Due: gitops_mr_unifiedui_dev

perf: optimize chat history loading with lazy attachment URLs
  src/sales-module/api/routers/chat.py
  src/sales-module/core/chat_api.py
  src/sales-module/db/backends/sqlite.py
  src/sales-module/db/backends/supabase.py
  src/sales-module/db/database.py
  src/sales-module/integrations/channels/adapters/web.py
  src/unified-ui/frontend/src/api/chat.js
  src/unified-ui/frontend/src/hooks/useAttachmentLoader.js
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

Updated For Amr
  src/unified-ui/comms/FOR_AMR.md
Due: gitops_mr_unifiedui_dev

perf: chat history performance optimizations + fix attachment 404s
  src/sales-module/api/routers/chat.py
  src/sales-module/core/chat_api.py
  src/sales-module/core/chat_persistence.py
  src/sales-module/db/backends/supabase.py
  src/sales-module/integrations/channels/adapters/web.py
  src/unified-ui/frontend/package-lock.json
  src/unified-ui/frontend/package.json
  src/unified-ui/frontend/src/api/files.js
  src/unified-ui/frontend/src/hooks/useAttachmentLoader.js
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

fix: replace react-window with react-virtuoso + add debug logging
  src/sales-module/api/routers/chat.py
  src/unified-ui/frontend/package-lock.json
  src/unified-ui/frontend/package.json
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

feat: chat performance improvements and image loading fixes
  src/sales-module/api/routers/chat.py
  src/sales-module/integrations/storage/providers/supabase.py
  src/unified-ui/frontend/src/api/chat.js
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

fix: normalize legacy /api/files/ paths to /api/sales/files/
  src/unified-ui/frontend/src/api/files.js
Due: gitops_mr_unifiedui_dev

debug: add comprehensive JWT expiry debugging to Supabase storage
  src/asset-management/asset_hierarchy_report.md
  src/asset-management/asset_hierarchy_report_BEFORE_MIGRATION.md
  src/asset-management/db/scripts/generate_asset_tree.py
  src/package-lock.json
  src/sales-module/integrations/storage/providers/supabase.py
Due: gitops_mr_sales_dev

fix: comprehensive chat frontend performance & stability
  src/unified-ui/frontend/src/api/chat.js
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
Due: gitops_mr_unifiedui_dev

feat: implement server thumbnail generation + progressive image loading
  src/sales-module/db/migrations/salesbot/05_add_thumbnail_support.sql
  src/unified-ui/frontend/src/hooks/useAttachmentLoader.js
  src/unified-ui/frontend/src/hooks/useImagePrefetch.js
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

chore: add thumbnail columns to base schema
  src/sales-module/db/migrations/salesbot/01_schema.sql
Due: gitops_mr_sales_dev

feat(backend): add thumbnail generation and database support
  src/sales-module/api/routers/chat.py
  src/sales-module/core/utils/thumbnail.py
  src/sales-module/db/backends/sqlite.py
  src/sales-module/db/backends/supabase.py
  src/sales-module/db/database.py
Due: gitops_mr_sales_dev

fix: file URL routing - use module prefix and wait for signed URLs
  src/sales-module/api/routers/chat.py
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

fix(pwa): disable dev mode caching, enable immediate SW updates
  src/unified-ui/frontend/vite.config.js
Due: gitops_mr_unifiedui_dev

perf(chat): comprehensive chat page performance improvements
  src/sales-module/api/routers/chat.py
  src/unified-ui/frontend/package.json
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
  src/unified-ui/frontend/vite.config.js
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

fix(backend): add cache-control headers for development mode
  src/unified-ui/backend/main.py
Due: gitops_mr_unifiedui_dev

fix(chat): reduce scroll flickering with virtuoso optimizations
  src/sales-module/api/routers/chat.py
  src/sales-module/api/routers/files.py
  src/sales-module/integrations/storage/providers/supabase.py
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

Added Venue type
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/dev-dist/sw.js
  src/unified-ui/frontend/package-lock.json
  src/unified-ui/frontend/src/api/mockup.js
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/frontend/src/screens/tools/mockup/GenerateTab.jsx
Due: gitops_mr_unifiedui_dev

Remove dots from the stream event response and use ellipsis animation in UI
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/screens/tools/ChatPage.jsx
Due: gitops_mr_unifiedui_dev

Update For Amr
  src/unified-ui/comms/FOR_AMR.md
Due: gitops_mr_unifiedui_dev

Added Edit, Delete for templates in setup mode
  src/unified-ui/frontend/src/api/mockup.js
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/frontend/src/screens/tools/mockup/SetupTab.jsx
Due: gitops_mr_unifiedui_dev

fix: indoor mockup venue_type + batch signed URLs for chat
  src/sales-module/api/routers/chat.py
  src/sales-module/api/routers/mockups.py
  src/sales-module/integrations/storage/base.py
  src/sales-module/integrations/storage/client.py
  src/unified-ui/comms/FOR_AMR.md
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

perf: add token refresh, batch cache lookups, and company_hint optimization
  src/sales-module/core/services/mockup_frame_service.py
  src/sales-module/db/backends/supabase.py
  src/unified-ui/frontend/src/api/http.js
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

refactor: unify LLM tools and REST API shared services
  src/sales-module/api/routers/mockups.py
  src/sales-module/api/routers/proposals.py
  src/sales-module/core/mockups/coordinator.py
  src/sales-module/core/mockups/handler.py
  src/sales-module/core/services/asset_service.py
  src/sales-module/core/services/mockup_frame_service.py
  src/sales-module/core/tools.py
  src/sales-module/handlers/tool_router.py
Due: gitops_mr_sales_dev

deploy(assetmgmt-dev): d1662e45
  src/platform/deploy/kustomize/asset-management/overlays/dev/kustomization.yaml
Due: none

deploy(sales-dev): d1662e45
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

Path conditions:
  gitops_mr_unifiedui_dev: any of: src/unified-ui/**/*
  gitops_mr_sales_dev: any of: src/sales-module/**/*, src/shared/**/*
