Repository Amrtamer711/ironforge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

Path conditions:
  gitops_mr_unifiedui_dev: any of: src/unified-ui/**/*
  gitops_mr_sales_dev: any of: src/sales-module/**/*, src/shared/**/*

Added file to enable deployment
  src/sales-module/toucher_init.txt
Due: gitops_mr_sales_dev

infra: optionally grant GitLab CI ECR push
  src/infrastructure/aws/main.tf
Due: none

infra: enable GitLab CI ECR push (auto tfvars)
  src/infrastructure/aws/gitlab_ci.auto.tfvars
Due: none

deploy(unifiedui-dev): 3a71b81f
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
Due: none

deploy(sales-dev): 3a71b81f
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

fix(sales-module): use /bin/sh in start script
  src/sales-module/Dockerfile
Due: gitops_mr_sales_dev

deploy(sales-dev): 1b851a7d
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

Responsive design for Mobile UI
  src/unified-ui/.gitignore
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/screens/tools/AdminPage.jsx
  src/unified-ui/frontend/src/screens/tools/AssetManagementPage.jsx
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/frontend/src/screens/tools/ProposalsPage.jsx
  src/unified-ui/frontend/src/screens/tools/admin/CompaniesTab.jsx
  src/unified-ui/frontend/src/screens/tools/admin/PermissionSetsTab.jsx
  src/unified-ui/frontend/src/screens/tools/admin/PermissionsTab.jsx
  src/unified-ui/frontend/src/screens/tools/admin/ProfilesTab.jsx
  src/unified-ui/frontend/src/screens/tools/admin/UsersTab.jsx
  src/unified-ui/frontend/src/screens/tools/asset-management/LocationsTab.jsx
  src/unified-ui/frontend/src/screens/tools/mockup/GenerateTab.jsx
  src/unified-ui/frontend/src/screens/tools/mockup/HistoryTab.jsx
  src/unified-ui/frontend/src/screens/tools/mockup/SetupTab.jsx
  src/unified-ui/frontend/src/screens/tools/proposals/GenerateTab.jsx
  src/unified-ui/frontend/src/screens/tools/proposals/HistoryTab.jsx
  src/unified-ui/frontend/src/screens/tools/video-critique/VideoCritiqueAssistantPage.jsx
Due: gitops_mr_unifiedui_dev

fix(sales-module): add missing cachetools dependency
  src/sales-module/requirements.render.txt
  src/sales-module/requirements.txt
Due: gitops_mr_sales_dev

deploy(sales-dev): c790ef7e
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

Logo Alignment fix
  src/unified-ui/frontend/index.html
  src/unified-ui/frontend/src/components/Logo.jsx
  src/unified-ui/frontend/src/screens/LandingPage.jsx
  src/unified-ui/frontend/src/shell/AppShell.jsx
Due: gitops_mr_unifiedui_dev

feat: add mockup eligibility services and fix indoor mode UI
  src/asset-management/db/database.py
  src/asset-management/db/migrations/07_grant_view_permissions.sql
  src/sales-module/api/routers/mockups.py
  src/sales-module/core/mockups/coordinator.py
  src/sales-module/core/services/mockup_eligibility/__init__.py
  src/sales-module/core/services/mockup_eligibility/base.py
  src/sales-module/core/services/mockup_eligibility/generate_form.py
  src/sales-module/core/services/mockup_eligibility/generate_llm.py
  src/sales-module/core/services/mockup_eligibility/setup.py
  src/sales-module/requirements.txt
  src/unified-ui-react/src/api/mockup.js
  src/unified-ui-react/src/screens/tools/MockupPage.jsx
  src/unified-ui-react/src/screens/tools/mockup/GenerateTab.jsx
  src/unified-ui-react/src/screens/tools/mockup/SetupTab.jsx
Due: gitops_mr_sales_dev

fix: hide Time of Day and Billboard Side fields when indoor mode selected
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/frontend/src/screens/tools/mockup/GenerateTab.jsx
  src/unified-ui/frontend/src/screens/tools/mockup/SetupTab.jsx
Due: gitops_mr_unifiedui_dev

fix: add missing mockup_service module (PackageExpander)
  src/sales-module/core/services/mockup_service/__init__.py
  src/sales-module/core/services/mockup_service/package_expander.py
  src/sales-module/core/services/mockup_service/response_builder.py
Due: gitops_mr_sales_dev

chore: add docs/TESTING_MCP.md to gitignore
  .gitignore
Due: none

Favicon
  src/unified-ui/frontend/index.html
  src/unified-ui/frontend/public/favicon-32x32.png
  src/unified-ui/frontend/src/components/Logo.jsx
  src/unified-ui/frontend/src/shell/AppShell.jsx
  src/unified-ui/frontend/src/styles/globals.css
Due: gitops_mr_unifiedui_dev

Multiselect chips
  src/unified-ui/frontend/src/components/ui/multi-select.jsx
Due: gitops_mr_unifiedui_dev

platform: add security-service deployment
  .gitlab-ci.yml
  src/infrastructure/aws/main.tf
  src/platform/ArgoCD/applications/kustomization.yaml
  src/platform/ArgoCD/applications/security-dev.yaml
  src/platform/deploy/kustomize/security-service/base/deployment.yaml
  src/platform/deploy/kustomize/security-service/base/kustomization.yaml
  src/platform/deploy/kustomize/security-service/base/service.yaml
  src/platform/deploy/kustomize/security-service/overlays/dev/kustomization.yaml
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
  src/security-service/ci-cd.yml
Due: none

docs: add security-service k8s deployment notes
  src/platform/deploy/kustomize/security-service/README.md
Due: none

deploy(security-dev): 76bf2c33
  src/platform/deploy/kustomize/security-service/overlays/dev/kustomization.yaml
Due: none

feat: add support for traditional network mockup storage paths
  src/asset-management/api/routers/internal.py
  src/asset-management/api/routers/mockup_frames.py
  src/asset-management/api/routers/storage.py
  src/asset-management/db/backends/supabase.py
  src/asset-management/db/database.py
  src/sales-module/api/routers/mockups.py
  src/sales-module/core/services/mockup_frame_service.py
  src/sales-module/generators/mockup.py
  src/sales-module/integrations/asset_management.py
  src/unified-ui/frontend/src/api/mockup.js
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

fix: add list_tasks method to video-critique database namespace
  src/video-critique/db/database.py
Due: none

Added new secrets for proper syncing
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
  src/platform/deploy/kustomize/security-service/overlays/dev/kustomization.yaml
Due: none

fix: use company field fallback for company_schema in locations API
  src/sales-module/api/routers/locations.py
  src/sales-module/core/models/location.py
  src/unified-ui/comms/FOR_AMR.md
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

chore: manage unified-ui env via local .env
  .gitlab-ci.yml
  Makefile
  src/platform/deploy/kustomize/unifiedui/README.md
Due: none

fix: resolve storage keys for traditional networks in LLM mockup generator
  src/sales-module/core/services/mockup_frame_service.py
  src/sales-module/generators/mockup.py
Due: gitops_mr_sales_dev

Added section to pull secrets from proposal-bot-env
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

feat: add packages and hierarchical company grouping to LLM context
  src/sales-module/core/llm.py
  src/sales-module/integrations/llm/prompts/chat.py
Due: gitops_mr_sales_dev

feat: add storage_key and environment params to mockup generate endpoint
  src/sales-module/api/routers/mockups.py
Due: gitops_mr_sales_dev

refactor: unify eligibility logic between LLM and form services
  src/sales-module/core/services/mockup_eligibility/base.py
  src/sales-module/core/services/mockup_eligibility/generate_form.py
  src/sales-module/core/services/mockup_eligibility/generate_llm.py
Due: gitops_mr_sales_dev

deploy(unifiedui-dev): b1a4cb05
  src/platform/deploy/kustomize/unifiedui/overlays/dev/kustomization.yaml
Due: none

deploy(sales-dev): b1a4cb05
  src/platform/deploy/kustomize/sales-module/overlays/dev/kustomization.yaml
Due: none

Multiselect Fetch all templates one by one
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/api/mockup.js
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
  src/unified-ui/frontend/src/screens/tools/mockup/SetupTab.jsx
Due: gitops_mr_unifiedui_dev

Add asset management deployment
  src/asset-management/ci-cd.yml
  src/platform/ArgoCD/applications/assetmgmt-dev.yaml
  src/platform/deploy/kustomize/asset-management/README.md
  src/platform/deploy/kustomize/asset-management/base/deployment.yaml
  src/platform/deploy/kustomize/asset-management/base/kustomization.yaml
  src/platform/deploy/kustomize/asset-management/base/service.yaml
  src/platform/deploy/kustomize/asset-management/overlays/dev/kustomization.yaml
Due: none

fix: photo endpoint uses query param + add eligibility API to unified-ui
  src/sales-module/api/routers/mockups.py
  src/sales-module/tests/test_mockups.py
  src/sales-module/tests/test_security.py
  src/unified-ui-react/src/api/mockup.js
  src/unified-ui/frontend/src/api/mockup.js
  src/unified-ui/frontend/src/screens/tools/MockupPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev

platform: use asset_library ECR for asset-management
  src/asset-management/ci-cd.yml
  src/platform/deploy/kustomize/asset-management/README.md
  src/platform/deploy/kustomize/asset-management/overlays/dev/kustomization.yaml
Due: none

Just added this file to toggle initial k8s deployment.
  src/asset-management/initdeploy.txt
Due: none

ci: enable asset-management pipeline jobs
  .gitlab-ci.yml
Due: none

Adding asset library to service cluster
  src/asset-management/initdeploy.txt
Due: none

ci: create gitops MRs via push options
  .gitlab-ci.yml
Due: none
