Repository Amrtamer711/ironforge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_security_dev, gitops_mr_assetmgmt_dev, gitops_mr_videocritique_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_security_staging, gitops_mr_assetmgmt_staging, gitops_mr_videocritique_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production, gitops_mr_security_production, gitops_mr_assetmgmt_production, gitops_mr_videocritique_production

Path conditions:
  gitops_mr_unifiedui_dev: any of: src/unified-ui/**/*
  gitops_mr_sales_dev: any of: src/sales-module/**/*, src/shared/**/*
  gitops_mr_security_dev: any of: src/security-service/**/*, src/shared/**/*
  gitops_mr_assetmgmt_dev: any of: src/asset-management/**/*, src/shared/**/*
  gitops_mr_videocritique_dev: any of: src/video-critique/**/*, src/shared/**/*
  gitops_mr_unifiedui_staging: any of: src/unified-ui/**/*
  gitops_mr_sales_staging: any of: src/sales-module/**/*, src/shared/**/*
  gitops_mr_security_staging: any of: src/security-service/**/*, src/shared/**/*
  gitops_mr_assetmgmt_staging: any of: src/asset-management/**/*, src/shared/**/*
  gitops_mr_videocritique_staging: any of: src/video-critique/**/*, src/shared/**/*
  gitops_mr_unifiedui_production: any of: src/unified-ui/**/*
  gitops_mr_sales_production: any of: src/sales-module/**/*, src/shared/**/*
  gitops_mr_security_production: any of: src/security-service/**/*, src/shared/**/*
  gitops_mr_assetmgmt_production: any of: src/asset-management/**/*, src/shared/**/*
  gitops_mr_videocritique_production: any of: src/video-critique/**/*, src/shared/**/*

docs: update staging/prod Argo CD and GitOps flow
  src/platform/ArgoCD/bootstrap/README.md
  src/platform/deploy/kustomize/README.md
  src/platform/deploy/kustomize/asset-management/README.md
  src/platform/deploy/kustomize/sales-module/README.md
  src/platform/deploy/kustomize/security-service/README.md
  src/platform/deploy/kustomize/unifiedui/README.md
  src/platform/deploy/kustomize/video-critique/README.md
Due: none

feat(proposals): PDF-first architecture for faster combined proposals
  src/asset-management/api/routers/storage.py
  src/asset-management/db/scripts/convert_templates_to_pdf.py
  src/sales-module/core/proposals/processor.py
  src/sales-module/core/services/template_service.py
  src/sales-module/integrations/asset_management.py
  src/unified-ui/public/assets/index-CoGbUdQ8.js
  src/unified-ui/public/assets/index-VXXBJ_XS.css
  src/unified-ui/public/assets/index-jnWDOWIC.css
  src/unified-ui/public/index.html
  src/unified-ui/public/sw.js
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_assetmgmt_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_assetmgmt_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production, gitops_mr_assetmgmt_production

feat(proposals): implement PDF-first architecture with PPTX fallback
  src/sales-module/core/proposals/processor.py
  src/sales-module/core/proposals/renderer.py
Due: gitops_mr_sales_dev, gitops_mr_sales_staging, gitops_mr_sales_production

fix(proposals): add None checks for PPTX paths in cleanup
  src/sales-module/handlers/tool_router.py
Due: gitops_mr_sales_dev, gitops_mr_sales_staging, gitops_mr_sales_production

fix(chat): add permanent flag to show informational tool responses
  src/sales-module/handlers/tool_router.py
Due: gitops_mr_sales_dev, gitops_mr_sales_staging, gitops_mr_sales_production

fix(ui): reduce log flood from PWA icon polling
  src/unified-ui/backend/main.py
Due: gitops_mr_unifiedui_dev, gitops_mr_unifiedui_staging, gitops_mr_unifiedui_production

fix: correct environment and env var names in render.yaml
  render.yaml
Due: none

fix(ui): prevent page freeze when service visibility fails
  src/unified-ui/backend/routers/admin.py
  src/unified-ui/frontend/src/shell/AppShell.jsx
  src/unified-ui/public/assets/index-BJtq2QUB.css
  src/unified-ui/public/assets/index-DTGhKASL.js
  src/unified-ui/public/assets/index-UXLCpFVW.js
  src/unified-ui/public/assets/index-VoKx7c7d.css
  src/unified-ui/public/index.html
Due: gitops_mr_unifiedui_dev, gitops_mr_unifiedui_staging, gitops_mr_unifiedui_production

ci: debug GitLab OIDC; docs
  .gitlab-ci.yml
  src/infrastructure/aws/GITLAB_CI_OIDC.md
  src/infrastructure/aws/clusters/README.md
Due: none

deploy(unifiedui-staging): dbd762af
  src/platform/deploy/kustomize/unifiedui/overlays/staging/kustomization.yaml
Due: none

deploy(assetmgmt-staging): dbd762af
  src/platform/deploy/kustomize/asset-management/overlays/staging/kustomization.yaml
Due: none

deploy(sales-staging): dbd762af
  src/platform/deploy/kustomize/sales-module/overlays/staging/kustomization.yaml
Due: none

platform(argocd): allow port-forward on 8080
  src/platform/ArgoCD/bootstrap/README.md
  src/platform/ArgoCD/bootstrap/kustomization.yaml
Due: none

platform(alb): set vpcId for load balancer controller
  src/platform/ArgoCD/applications-production/aws-load-balancer-controller.yaml
  src/platform/ArgoCD/applications-staging/aws-load-balancer-controller.yaml
Due: none

Deleted
  .gitlab-ci.yml
Due: none

Multi file upload to Chat page. Updated For Amr
  src/unified-ui/comms/FOR_AMR.md
  src/unified-ui/frontend/src/screens/ChatPage.jsx
Due: gitops_mr_unifiedui_dev, gitops_mr_unifiedui_staging, gitops_mr_unifiedui_production

fix(asset-mgmt): add storage deletion to mockup frame delete endpoint
  src/asset-management/api/routers/mockup_frames.py
Due: gitops_mr_assetmgmt_dev, gitops_mr_assetmgmt_staging, gitops_mr_assetmgmt_production

chore: update render.yaml for production environment
  render-dev.yaml
Due: none

deploy(unifiedui-production): 381f991e
  src/platform/deploy/kustomize/unifiedui/overlays/production/kustomization.yaml
Due: none

deploy(videocritique-production): 381f991e
  src/platform/deploy/kustomize/video-critique/overlays/production/kustomization.yaml
Due: none

deploy(sales-production): 381f991e
  src/platform/deploy/kustomize/sales-module/overlays/production/kustomization.yaml
Due: none

deploy(assetmgmt-production): 381f991e
  src/platform/deploy/kustomize/asset-management/overlays/production/kustomization.yaml
Due: none

deploy(security-production): 381f991e
  src/platform/deploy/kustomize/security-service/overlays/production/kustomization.yaml
Due: none

fix: filter health check logs in all environments
  src/sales-module/core/utils/logging.py
  src/unified-ui/backend/main.py
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production

fix(sync): add permission verification after database sync
  scripts/sync-supabase.ts
Due: none

fix(sync): exclude user/operational tables from data sync
  scripts/sync-supabase.ts
Due: none

Added staging env
  src/platform/deploy/kustomize/asset-management/overlays/staging/kustomization.yaml
  src/platform/deploy/kustomize/sales-module/overlays/staging/kustomization.yaml
  src/platform/deploy/kustomize/security-service/overlays/staging/kustomization.yaml
  src/platform/deploy/kustomize/unifiedui/overlays/staging/kustomization.yaml
  src/platform/deploy/kustomize/video-critique/overlays/staging/kustomization.yaml
  src/sales-module/app_settings/settings.py
  src/shared/crm-security/crm_security/config.py
Due: gitops_mr_sales_dev, gitops_mr_security_dev, gitops_mr_assetmgmt_dev, gitops_mr_videocritique_dev, gitops_mr_sales_staging, gitops_mr_security_staging, gitops_mr_assetmgmt_staging, gitops_mr_videocritique_staging, gitops_mr_sales_production, gitops_mr_security_production, gitops_mr_assetmgmt_production, gitops_mr_videocritique_production

deploy(security-staging): 8b3fed3a
  src/platform/deploy/kustomize/security-service/overlays/staging/kustomization.yaml
Due: none

deploy(videocritique-staging): 8b3fed3a
  src/platform/deploy/kustomize/video-critique/overlays/staging/kustomization.yaml
Due: none

deploy(sales-staging): 8b3fed3a
  src/platform/deploy/kustomize/sales-module/overlays/staging/kustomization.yaml
Due: none

deploy(assetmgmt-staging): 8b3fed3a
  src/platform/deploy/kustomize/asset-management/overlays/staging/kustomization.yaml
Due: none

deploy(unifiedui-staging): 8b3fed3a
  src/platform/deploy/kustomize/unifiedui/overlays/staging/kustomization.yaml
Due: none

deploy(sales-production): e8ff7eef
  src/platform/deploy/kustomize/sales-module/overlays/production/kustomization.yaml
Due: none

deploy(unifiedui-production): e8ff7eef
  src/platform/deploy/kustomize/unifiedui/overlays/production/kustomization.yaml
Due: none

Added requirements file for AWS EKS deployment and changed dockerfiles to build shared libs locally
  .dockerignore
  src/asset-management/Dockerfile
  src/asset-management/ci-cd.yml
  src/asset-management/requirements.aws.txt
  src/sales-module/Dockerfile
  src/sales-module/ci-cd.yml
  src/sales-module/requirements.aws.txt
  src/security-service/Dockerfile
  src/security-service/ci-cd.yml
  src/security-service/requirements.aws.txt
  src/unified-ui/ci-cd.yml
  src/video-critique/Dockerfile
  src/video-critique/ci-cd.yml
  src/video-critique/requirements.aws.txt
Due: gitops_mr_unifiedui_dev, gitops_mr_sales_dev, gitops_mr_security_dev, gitops_mr_assetmgmt_dev, gitops_mr_videocritique_dev, gitops_mr_unifiedui_staging, gitops_mr_sales_staging, gitops_mr_security_staging, gitops_mr_assetmgmt_staging, gitops_mr_videocritique_staging, gitops_mr_unifiedui_production, gitops_mr_sales_production, gitops_mr_security_production, gitops_mr_assetmgmt_production, gitops_mr_videocritique_production

deploy(videocritique-staging): d68186ee
  src/platform/deploy/kustomize/video-critique/overlays/staging/kustomization.yaml
Due: none

deploy(sales-staging): d68186ee
  src/platform/deploy/kustomize/sales-module/overlays/staging/kustomization.yaml
Due: none

deploy(security-staging): d68186ee
  src/platform/deploy/kustomize/security-service/overlays/staging/kustomization.yaml
Due: none

deploy(unifiedui-staging): d68186ee
  src/platform/deploy/kustomize/unifiedui/overlays/staging/kustomization.yaml
Due: none
